
.grid{
  margin: 0 auto;
}
.row{
  text-align: center;
}
.cell{
  height: 80px;
  width: 80px;
  border: 1px solid deepskyblue;
  display: inline-block;
  color: red;
}
.cell:hover{
  background: peachpuff;
}
.cell.on{
  background: purple;
}